.spriteSheet {
  background-image: url("./../../../media/img/spritesheet/color-icons.webp");
  width: var(--icon-dimension);
  height: var(--icon-dimension);

  /* 5 rows and columns */
  --row-or-col-1: calc(var(--icon-dimension) * -1);
  --row-or-col-2: calc(var(--icon-dimension) * -2);
  --row-or-col-3: calc(var(--icon-dimension) * -3);
  --row-or-col-4: calc(var(--icon-dimension) * -4);

  background-size: calc(var(--icon-dimension) * 5);
}

.heartIcon {
  composes: spriteSheet;
  background-position: 0 0;
}

.energyIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-1) 0;
}

.moodIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-2) 0;
}

.hungerIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-3) 0;
}

.uterusExpIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-4) 0;
}

.uterusHpIcon {
  composes: spriteSheet;
  background-position: 0 var(--row-or-col-1);
}

.moneyIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-1) var(--row-or-col-1);
}

.reputationIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-2) var(--row-or-col-1);
}