.spriteSheet {
  composes: spriteSheet5X5 from "./shared.module.css";
  background-image: url("./../../../media/img/spritesheet/color-icons.webp");
}

.heartIcon {
  composes: spriteSheet;
  background-position: 0 0;
}

.energyIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-1) 0;
}

.moodIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-2) 0;
}

.hungerIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-3) 0;
}

.uterusExpIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-4) 0;
}

.uterusHpIcon {
  composes: spriteSheet;
  background-position: 0 var(--row-or-col-1);
}

.moneyIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-1) var(--row-or-col-1);
}

.reputationIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-2) var(--row-or-col-1);
}