.spriteSheet {
  background-image: url("./../../../media/img/spritesheet/mono-color-icons.webp");
  width: var(--icon-dimension);
  height: var(--icon-dimension);

  /* 5 rows and columns */
  --row-or-col-1: calc(var(--icon-dimension) * -1);
  --row-or-col-2: calc(var(--icon-dimension) * -2);
  --row-or-col-3: calc(var(--icon-dimension) * -3);
  --row-or-col-4: calc(var(--icon-dimension) * -4);

  background-size: calc(var(--icon-dimension) * 5);
}

.personIcon {
  composes: spriteSheet;
  background-position: 0 0;
}

.gpsIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-1) 0;
}

.leftArrowIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-2) 0;
}

.inventoryIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-3) 0;
}

.saveIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-4) 0;
}

.settingsIcon {
  composes: spriteSheet;
  background-position: 0 var(--row-or-col-1);
}

.restartIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-1) var(--row-or-col-1);
}

.bugReportIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-2) var(--row-or-col-1);
}

.zoomInIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-3) var(--row-or-col-1);
}

.zoomOutIcon {
  composes: spriteSheet;
  background-position: var(--row-or-col-4) var(--row-or-col-1);
}

.largeViewIcon {
  composes: spriteSheet;
  background-position: 0 var(--row-or-col-2);
}