*.code-workspace
.vscode/**
.history/**
src/passages/test.twee
**/.fic/**
**/node_modules/**
package.json
package-lock.json
.textlintrc
**/dist/index.html
tsconfig.json
project/**/build.css
project/**/build.js
src/scripts/built_js/**/*.js
src/styles/built_css/**/*.css
