*.code-workspace
.vscode/**
.history/**
**/test.twee
**/.fic/**
**/node_modules/**
package.json
package-lock.json
.textlintrc
tsconfig.json
project/compiled/**
src/scripts/built_js/**/*.js
src/styles/built_css/**/*.css
**/dist/index.html

# Ignore symlinks
node_modules
.vscode
