.rightmostIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sideBarActionMenuHeightRange {
  height: var(--ui-side-bar-action-menu-height);
  max-height: calc(100vh - (var(--ui-top-bar-height) + var(--ui-bottom-bar-height) + 80px));
  min-height: 160px;
}

.iconBase {
  --dimension: 16px;

  width: var(--dimension);
  height: var(--dimension);
  object-fit: scale-down;
  display: block;
  object-position: center;
  aspect-ratio: 1/1;

  /* When a stat bar is a sibling to an img with this class, then adjust the width and position of the stat bar by half the size of the image's dimension */
  ~span {
    --dimension: 16px;

    /* Shift the stat bar to the left so it stays underneath the stat icon */
    --val: calc(var(--dimension) / 2);
    width: calc(100% - var(--val));
    right: var(--val);
    position: relative;
    z-index: -1;
  }
}

.icon16X16 {
  composes: iconBase;
}

.icon20X20 {
  composes: iconBase;
  --dimension: 20px;

  ~span {
    --dimension: 20px;
  }
}

.icon24X24 {
  composes: iconBase;

  --dimension: 24px;

  ~span {
    --dimension: 24px;
  }
}

.icon32X32 {
  composes: iconBase;

  --dimension: 32px;

  ~span {
    --dimension: 32px;
  }
}