.inventory-dialog {
  max-width: 50vw;
}

.inventory-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;

  --inventory-border: 2px var(--ui-image-border-color) solid;
}

.inventory-item {
  // width: 112px;
  // height: 112px;
  width: fit-content;
  height: fit-content;

  border: var(--inventory-border);

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.inventory-item-name {
  text-align: center;
  text-wrap: nowrap;

  font-weight: bold;

  border-bottom: var(--inventory-border);
}

.inventory-item-image {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 2;

  & img {
    width: 64px;
    height: auto;
  }
}

.inventory-item-footer {
  display: flex;
  flex-direction: row-reverse;

  font-weight: bold;

  border-top: var(--inventory-border);
}
