.pixelArt {
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  /* Smaller sprites look pretty awful without the blur :p (Besides, the blur isn't too noticeable on them  */
  &[class*="icon16"],
  &[class*="icon20"],
  &[class*="icon24"],
  &[class*="icon32"],
  &[class*="icon40"],
  &[class*="icon48"] {
    image-rendering: auto;
  }
}