.pixelArt {
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  /* &[class^="icon"] { */
  /* Devices with different screen densities can make small icons look arguably worse */
  /* However, using X2 larger sprites and scaling them down plus `image-rendering: auto` fix the jagged line issue with some very slight blur :D */
  /* image-rendering: auto;
  } */
}

.iconFilter {
  filter: var(--icon-border-filter) var(--icon-brightness-filter);
}