/* NOTE: There's a bug with the CSS parser that hashes only the keyframe anim name but not it's references in `animation` or `animation-name` */
@keyframes envelopeAnim {
  0% {
    background-position: 0 0;
  }

  33.333% {
    background-position: 0 0;
  }

  33.334% {
    background-position: 0 calc(var(--height) * -1);
  }

  66.666% {
    background-position: 0 calc(var(--height) * -1);
  }

  66.667% {
    background-position: 0 calc(var(--height) * -2);
  }

  100% {
    background-position: 0 calc(var(--height) * -2);
  }
}