@mixin uiRightmostIconsFlexContainer {
    align-items: center;
    display: flex;
}

@mixin darkenUIButton {
    filter: brightness(85%);
}

@mixin uiSideBarActionMenuHeightRange {
    height: var(--ui-side-bar-action-menu-height);
    max-height: calc(100vh - (var(--ui-top-bar-height) + var(--ui-bottom-bar-height) + 80px));
    min-height: 160px;
}

@mixin createIconDimension($width, $height, $unit: "px") {
    .icon#{$width}x#{$height} {
        width: 100%;
        height: auto;
        // min-width: #{$width}#{$unit};
        // min-height: #{$height}#{$unit};
        max-width: #{$width}#{$unit};
        max-height: #{$height}#{$unit};

        object-fit: scale-down;
        display: block;
        object-position: center;
    }
}

@mixin createIconDimensionSquare($length) {
    @include createIconDimension($length, $length);
}
