@layer defaultUI {
  /*  */
  /* This stores the actual side bar AND the button used to stow/open it */
  #ui-side-section {
    position: fixed;
    left: 0;
    width: calc(var(--ui-side-bar-toggle-button-width) + var(--ui-side-bar-width));
    height: 100%;

    display: flex;

    /* align-items: center; */
  }

  #ui-side-bar {
    /* position: fixed; */
    /* left: 0; */
    height: 100%;
    width: var(--ui-side-bar-width);
    z-index: 1;

    box-sizing: border-box;
    border: 2px solid lightgrey;

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    overflow-y: auto;

    background-color: var(--ui-bar-background-color);

    // Make all the major flex containers fill a row by themselves
    & > [id|="ui-side-bar"] {
      // width: 100%;
      // min-height: 20%;
      flex: 1 1 10%;

      // I'll remove this later but it's used to get a visual on the space everything is using
      border-bottom: thin solid lightgrey;
      border-top: thin solid lightgrey;
      box-sizing: border-box;
    }

    & > #ui-side-bar-game-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 0.2rem;
      flex-basis: auto;
      flex-grow: 0;

      // Override the defaults
      height: max-content;

      padding-top: 0.55rem;
      padding-bottom: 0.55rem;

      text-align: center;

      & > [id="ui-side-bar-game-info-name"] {
        font-size: 24px;
        font-weight: bold;

        // Shift the name from the top a bit.
        // margin-top: 1rem;
      }

      & > [id="ui-side-bar-game-info-author"] {
        font-size: 13px;
      }

      & > [id="ui-side-bar-game-info-others"] {
        font-size: 12px;
      }
    }

    & > [id^="ui-side-bar-backup-container"] {
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;

      height: fit-content;
    }

    // Lets deal with the first backup container. Remember, its for everything in the top bar other than the time and stat bars, with the first child div storing the settings/save/restart and the second, storing money/reputation
    & > #ui-side-bar-backup-container1 {
      // justify-content: stretch;

      & > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        border: thin solid;
      }

      // Target the container that stores the settings/save/restart/etc icons
      // & > :first-child {
      //   justify-content: space-evenly;
      //   align-content: center;
      // }
    }

    // Now the second backup container. Remember, it's only for storing the stat bars
    & > #ui-side-bar-backup-container2 {
      justify-content: space-evenly;
      align-items: center;
      row-gap: 0.35rem;

      // The space allocated for the stat bars and icons
      & > .ui-stat-bar-and-icon {
        width: 75%;

        // Force them to occupy all the allocated the space
        & > [class|="ui-stat-bar"] {
          width: 100%;
        }
      }
    }

    & > #ui-side-bar-player-image {
      flex: 0 0 auto;

      // I want the player's image to be in a square
      height: var(--ui-side-bar-width);
    }

    & > #ui-side-bar-assistant-device {
      flex: 0 0 auto;

      // Honestly not sure abt the size
      height: var(--ui-side-bar-width);
    }
  }

  //
  //
  #ui-side-bar-toggle-button {
    margin-top: 5rem;

    height: 5.2rem;
    width: var(--ui-side-bar-toggle-button-width);

    /* z-index: 1; */

    border: thin solid darkgray;
    box-sizing: border-box;

    background-color: lightgray;

    /* To center the pointer I added */
    display: flex;
    align-items: center;

    text-align: center;
  }
}
