/* Define variables */
:root {
  --ui-top-bar-height: 2.9rem;
  --ui-bottom-bar-height: 2.5rem;
  --ui-side-bar-width: 230px;
  --ui-side-bar-toggle-button-width: 1.15rem;
  --ui-icon-height: 20px;
  --ui-icon-width: 20px;

  // --max-mobileUI-portrait-width: 500px;

  --ui-bar-background-color: hsl(0, 0%, 8%);
  --ui-bar-border-color: hsl(0, 0%, 85%);
  --ui-top-bar-left-digital-clock-main-colour: hsl(120, 100%, 45%);

  // This goofy ahh calculation is just to give it the right size in the top bar. Not sure how it scales if the value is changed but eh
  --ui-top-bar-left-digital-clock-font-size: calc(var(--ui-top-bar-height) * (56.04 / 100));
}

#interface {
  position: absolute;
  z-index: -5;
}

#passages {
  width: calc(100% - var(--ui-side-bar-width));
  /* margin: 0 calc(var(--ui-side-bar-width) + 2em) 20vh 20vw; */
  /* margin: 0 auto auto auto; */
  position: relative;
  top: calc(var(--ui-top-bar-height) + 2em);
  left: var(--ui-side-bar-width);
  padding-bottom: 2.5em;

  z-index: -1;

  /* Turn the main passage area into a flex box and manipulate the actual passages within it */
  display: flex;
  justify-content: space-around;

  & > div[id|="passage"] {
    /* max-width: 54em; */
    max-width: 70%;
  }
}

.ui-icon-glow {
  img:hover {
    filter: drop-shadow(0px 0px 4px white);
  }
}
