:root {
  --ui-top-bar-height: 3rem;
  --ui-bottom-bar-height: 2.5rem;
  --ui-side-bar-width: 230px;
  --ui-side-bar-action-menu-width: 1.25rem;
  --ui-icon-height: 20px;
  --ui-icon-width: 20px;
  --ui-side-bar-map-width: 200px;

  --ui-bar-background-color: hsl(0, 0%, 8%);
  --ui-bar-border-color: hsl(0, 0%, 85%);
  --ui-top-bar-left-digital-clock-main-colour: hsl(120, 100%, 45%);

  // This goofy ahh calculation is just to give it the right size in the top bar. Not sure how it scales if the value is changed but eh
  --ui-top-bar-left-digital-clock-font-size: calc(var(--ui-top-bar-height) * (56.04 / 100));
}
