.femaleSpeech {
  color: hsl(351, 100%, 90%);
}

.femaleSpeech1 {
  color: hsl(351, 100%, 85%);
}

.femaleSpeech2 {
  color: hsl(350, 100%, 80%);
}

.maleSpeech {
  color: hsl(195, 100%, 68%);
}

.maleSpeech1 {
  color: hsl(195, 100%, 62%);
}

.maleSpeech2 {
  color: hsl(195, 100%, 73%);
}

/* For important observations or unknown people*/
.otherSpeech {
  color: hsl(120, 100%, 83%);
}

.otherSpeech1 {
  color: hsl(120, 100%, 88%);
}
