/* Used to denote when a female is speaking. The first one is used whenever the PC talks. */
.femaleSpeech {
  color: hsl(351, 100%, 90%);
}

.femaleSpeech1 {
  color: hsl(351, 100%, 85%);
}

.femaleSpeech2 {
  color: hsl(350, 100%, 80%);
}


/* Used to denote when a man is speaking */
.maleSpeech {
  color: hsl(195, 100%, 68%);
}

.maleSpeech1 {
  color: hsl(195, 100%, 62%);
}

.maleSpeech2 {
  color: hsl(195, 100%, 73%);
}


/* Used to denote when an important observation is made, the speaker or their gender is unknown */
.otherSpeech {
  color: hsl(120, 100%, 83%);
}

.otherSpeech1 {
  color: hsl(120, 100%, 88%);
}