// Preload image frames
html::after {
  content: url("assets/img/general/envelope_in-between.webp")
    url("assets/img/general/envelope_open.webp");
  opacity: 0;
}

@keyframes basicEnvelopeAnimation {
  0% {
    content: url("assets/img/general/envelope_closed.webp");
  }

  50% {
    content: url("assets/img/general/envelope_in-between.webp");
  }

  100% {
    content: url("assets/img/general/envelope_open.webp");
  }
}

img[src^="assets/img/general/envelope"] {
  --img-envelope-width: 64px;
  width: var(--img-envelope-width);
  height: auto;
  position: relative;
  left: calc(50% - (0.5 * var(--img-envelope-width)));

  image-rendering: auto;

  &.envelope_play_animation {
    animation: forwards ease-out 0.25s basicEnvelopeAnimation;
  }
}

// For displayed maps
// .ui-side-bar-popout-map > svg {
//   fill-opacity: 0;
// }
[class*="map"] > svg {
  fill: transparent;

  height: auto;
  width: auto;

  & img[class~="pixel-art"],
  & image[class~="pixel-art"] {
    image-rendering: crisp-edges;
  }
}

// For the map in the "Large View" dialog
.map-large-view {
  display: flex;
  justify-content: center;
  align-items: center;

  &#ui-dialog-body {
    overflow: hidden;
  }

  > svg {
    width: 80vw;
    max-height: 80vh;
  }

  // hide this button, it's unnecessary
  & .button-large-view {
    display: none;
  }
}
