:root {
    // Edit the scrollbar
    scrollbar-color: var(--ui-scrollbar-thumb-color) var(--ui-scrollbar-track-color);
    scrollbar-width: thin;

    & div {
        // Edit all inner scrollbars
        scrollbar-color: var(--ui-scrollbar-thumb-color) var(--ui-scrollbar-track-color);
        scrollbar-width: thin;
    }
}

body {
    color: var(--ui-default-text-color);
}

button {
    background-color: var(--ui-side-bar-action-menu-button-color);
    border-color: var(--ui-bar-border-color);

    &:hover {
        background-color: var(--ui-side-bar-action-menu-button-color);
        border-color: var(--ui-bar-border-color);

        filter: brightness(110%);
    }
    color: var(--ui-side-bar-action-menu-button-text-color);
}

// Commented out for now since it looks weird lol
// [id="ui-side-bar"],
// [id="ui-top-bar"],
// [id="ui-bottom-bar"] {
//     transition:
//         width 0.25s,
//         min-width 0.25s,
//         max-width 0.25s,
//         background 0.25s;
// }
